html
  head
  body
    h1 Dashboard
    h4 Welcome #{user}
    div
      table
        thead
          tr
            th Slno
            th Name
            th Status
            th AssignedBy
            th DueDate
        tbody
          - var i = 1
          each val,index in tasks
            tr
              td= i++
              td= val.title
              td= val.status
              td= val.assgnBy
              td= val.dueDate
