html
  head
    title= title
  body
  table
    thead
      tr
        th Id
        th Title
        th Status
        th AssignedTo
        th AssignedBy
        th DueDate
    tbody
      for task in tasks
        tr
          td
            a(href='/task/'+task.id) #{task.id}
          td=task.title
          td=task.status
          td=task.assgnBy
          td=task.assgnTo
          td=task.dueDate
